.project-item-container {
  margin: 0 2rem;
}

.project-item-img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 12px;
  display: inline-block;
  border: 3px solid var(--dark-orange);
  position: relative;
}

.project-item-img img {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
}

.project-item-info {
  margin-top: 1rem;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
}

.project-item-info .skills-container {
  display: flex;
  margin: 0 auto;
}

.project-item-info .skills-container .skills {
  font-style: oblique;
  margin: 0 20px;
  border: 1px solid var(--dark-orange);
  border-radius: 4px;
  padding: 5px 10px;
}

.project-item-info .project-link {
  display: none;
  margin-top: 10px;
}

.project-item-info .project-link a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--black);
  margin: 10px;
  margin-top: 2rem;
  border: 2px solid var(--orange);
  border-radius: 10px;
  padding: 0.5rem;
}


.project-item-title {
  font-size: 2.2rem;
  text-align: center;
}

.project-item-description {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.project-item-container .project-links {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.project-item-container .project-links .project-link-name {
  color: var(--orange);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.project-item-container .project-links .project-link a {
  text-decoration: none;
  font-size: 2.2rem;
  color: var(--white);
  margin: 10px;
  margin-top: 2rem;
  border: 2px solid var(--orange);
  border-radius: 10px;
  padding: 0.5rem;
  transition: all 0.4s ease;
}

.project-item-container .project-links .project-link a:hover {
  background-color: var(--orange);
  color: black;
}

.project-item-img:hover img {
  transform: scale(1.2);
}

.project-item-img:hover .project-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 768px) {
  .project-item-img {
    height: 300px;
  }
  .project-item-container .project-links .project-link-name, 
  .project-item-container .project-links .project-link {
    display: none;
  }
  .project-item-info .skills-container .skills {
    display: none;
  }

  .project-item-info .project-link {
    display: block;
  }
  .project-item-description {
    font-size: 1rem;
    margin-top: 1rem;
  }
}
